# Server
PORT=4000

# Database connection string (replace with your own)
DATABASE_URL=mongodb://localhost:27017/result-management

# JWT
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=7d

# Tenant defaults
DEFAULT_TENANT=university_default
